---
import Layout from '../../layouts/mainpage_layout.astro';
import { getBlogs } from  "../../micro_cms"
import type { GetStaticPathsOptions } from "astro"

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
    const response = await getBlogs({ limit: 100 });
    return paginate(response.contents, {pageSize: 3});
};
const { page } = Astro.props;
---

<Layout title={`page ${page.currentPage} | Dear Cats`}>
    <main>
        <ul>
            {page.data.map((cat) => {
                return (<li>{cat.content}</li>);
            })}
        </ul>
        <nav>
           
            <p>page {page.currentPage}/{page.lastPage}</p>
            <ul>
              {/* page.url.prevがある場合は前ページへのリンクを表示 */}
              {page.url.prev && (
                <li>
                  <a href={page.url.prev}>PREV</a>
                </li>
              )}
             
              {page.url.next && (
                <li>
                  <a href={page.url.next}>NEXT</a>
                </li>
              )}
            </ul>
          </nav>
    </main>
</Layout>