---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';
import Layout from '../../layouts/BlogPost.astro'
import { getBlogs } from "../../micro_cms";
//microcmsから["id", "title", "publishedAt", "eyecatch"] の項目を取得する
const { contents: posts } = await getBlogs({ fields: ["id", "title", "publishedAt", "eyecatch"] });
console.log(posts)

---

<!doctype html>
<html lang="jp">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<Layout title = "blog">
		<!-- <a href={`/blog/${post.slug}/`} class="relative font-FrankRuhlLibre"> -->
		<main>
			<section class="max-w-screen-2xl mx-auto">
				<ul class=" flex-wrap content-center justify-center grid grid-cols-1 md:grid-cols-3 md:gap-x-16 lg:gap-x-16 gap-y-16 md:gap-y-16 mb-32">
					{
						posts.map((post) => (

							<li class="">
								<a href={`/blog/${post.id}`} class="relative font-FrankRuhlLibre" data-id={post.id} data-title={post.title}>
									<img class="object-cover w-full h-96" width={1000}height={500} src={post.eyecatch.url} alt="" />
									<div class='text-2xl eading-snug text-white absolute bottom-0 p-2 w-full bg-gray-600 bg-opacity-40 '>
										<p class="title">{post.title}</p>
										<p class="date text-right"><FormattedDate date = {new Date(post.publishedAt)} /></p>
									</div>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>


../../../../wikijs